.jumbotron{
    background-image: url(lobster5_muted.jpg);
    background-size:cover;
    background-position:center;  
    color:black; 
    text-align:center;  
}
h1{
   text-shadow: 2px 2px black;
}

.feature{
    text-align:center;
}
.feature .glyphicon{   
    font-size:400%;
}
.feature .glyphicon-globe{
    color:#e50707;
}
.feature .glyphicon-exclamation-sign{
    color:#e50707;
}
.feature .glyphicon-fast-forward{
    color:#e50707;
}

.thumbnail1{
   background-image: url(lobster3.jpg);
}
